<section class="container">
  <div class="features grid grid-cols-3">
    <div class="row row-1">
      <svg class="icon row-icon">
        <use xlink:href="img/sprite.svg#checkmark-done-outline"></use>
      </svg>
      <h3>Convenient</h3>
      <p>
        The combination of the power of internet and SMS makes it easy to stay
        connected and informed on the go.
      </p>
    </div>
    <div class="row row-2">
      <svg class="icon row-icon">
        <use xlink:href="img/sprite.svg#shield-checkmark-outline"></use>
      </svg>
      <h3>Safety</h3>
      <p>Helps you to ensure your safety by avoiding waiting outside.</p>
    </div>
    <div class="row row-3">
      <svg class="icon row-icon">
        <use xlink:href="img/sprite.svg#time-outline"></use>
      </svg>
      <h3>Efficient</h3>
      <p>Saves you more time and improve efficiency by avoiding idle.</p>
    </div>
  </div>
</section>
