<nav>
  <div class="nav-logo"><img src="img/logo-light.svg" alt="" /></div>
  <div class="nav-icon">
    <svg class="icon icon-menu">
      <use xlink:href="img/sprite.svg#menu-outline"></use>
    </svg>
    <svg class="icon icon-close">
      <use xlink:href="img/sprite.svg#close-outline"></use>
    </svg>
  </div>
  <div class="nav-links">
    <div class="nav-others">
      <ul>
        <li><a href="#">Use cases</a></li>
        <li><a href="#">Research</a></li>
        <li><a href="#">Developers</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
    <div class="nav-sign">
      <ul>
        <li><a href="#">Sign in</a></li>
        <li class="btn btn--nav"><a href="#">Sign up</a></li>
      </ul>
    </div>
  </div>
</nav>
